<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

    <div class="register-form">
        <h1>Registro</h1>
        <form action="register" method="post">
            <label for="usuario">Ingrese su nombre de usuario</label>
            <input type="text" name="usuario" required>

            <label for="nombre">Ingrese su nombre</label>
            <input type="text" name="nombre" required>

            <label for="contraseña">Ingrese su contraseña</label>
            <input type="password" name="contraseña" required>

            <label for="rol">Seleccione un rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="admin" selected>Administrador</option>
                <option value="data entry" selected>Data Entry</option>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancelar</a><input type="submit" class="btn-save" value="Enviar">

            </div>
        </form>
    </div>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title:"<%= alertTitle%>",
                text:"<%= alertMessage%>",
                icon:"<%= alertIcon%>",
                showConfirmButton: <%= showConfirmButton %> ,
                timer: <%= timer %>
            }).then(()=>{
                window.location="/<%= ruta %>"
            })
        </script>
    <% } %>
</body>
</html>